 <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div class="col-md-2"><h3 style="position:absolute;top:50px;left:85px;">手机排行前十</h3></div>
    <div id="main" style="width: 400px;height:350px;float: left;"class="col-md-5" ></div>

        <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        myChart.setOption({
        series : [
            {
                name: '手机商排行',
                type: 'pie',
                radius: '55%',
                data:[
                    {% for i in pn %}
                    {value:{{ i.1 }}, name:'{{ i.0 }}'},
                    {% endfor %}
                ]
            }
        ]
    })
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>