<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">京东数据展示平台</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/phone/index">首页</a></li>
            <li><a href="/phone/manager">管理</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    选择 <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/phone/login">登录</a></li>
                    <li><a href="/phone/register">注册</a></li>
                    <li><a href="/phone/logout">注销</a></li>
                </ul>
            </li>
        </ul>
    </div>
    </div>
</nav>